form {
    width: 500px;
    margin: 0 auto;
    text-align: left;
}

input,
textarea,
select {
    display: block;
    margin-top: 10px;
}

.teste{
    position: relative;
    top: 10px;
    right: 30px;
}