body {
    padding-bottom: 500px;
}
h3 { 
    color: green;
    font-size: 40px;
}
/*Comentarios são feitos assim*/

/* Classes */
.paragraph {
    color: aqua;
    background-color: black;
    font-size: 60px;
}
/* id */
#exclusive-title {
    color: yellow;
    background-color: violet;
    font-size: 60px;
}

/* Ordem das regras */
h2 {
    border-bottom: 2px solid red;
}

.title {
    border-bottom: 3px solid blue;
}

#any-title {
    border-bottom: 4px solid green;
}

.color-name {
    color: rgb(138, 47, 65);
}

.hex {
    color: #55a398
}

.simple-hex {
    color: #333;
}

.rgba {
    color: rgba(60, 170, 150, 0.3);
}

.hsl {
    color: hsl(30, 60%, 70%);
}

/* Background */
.background {
    background-color: #F72A74;
    color: rgb(00, 213, 122)
}

.bg-opacity {
    background-color: rgb(00, 213, 122);
}
.bg-opacity-2 {
    background-color: rgb(00, 213, 122);
    color: #000; 
    opacity: 0.5;
}

.rgba-opacity {
    background-color: rgba(184, 65, 188, 0.3);
    color: #000;
}
.bg-image {
    background-image: url("../img/TripulaçãoRo.jpg");
}

.not-centered-bg, 
.centered-bg {
    height: 400px;
    width: 400px;
    background-image: url("../img/Law.jpg");
}

.centered-bg {
    background-position: center;
    background-size: cover;
}