.flex{
    display: flex;
}
.flex-direction {
    display: flex;
    flex-direction: column;
}
.flex-wrap {
    display: flex;
    flex-wrap: wrap-reverse;
}

.justify-content {
    display: flex;
    margin-bottom: 20px;
}